{{ header }}
<body class="soap-login-page style3 body-blank">
	<div id="page-wrapper">

		<div class="notional6">
			<section id="content">
				<div class="container">
					<div id="main">


						<a href="index.php">
							<img src="catalog/view/boat_data/photo/logo.png" class="notional4">
						</a>

						<div class="welcome-text box" style="">
							Welcome back!
						</div>
						<p class="white-color block  notional8">
							Please Sign In your account.
						</p>

						<div class="col-sm-8 col-md-6 col-lg-5 no-float no-padding center-block">

							{% if success %}
								<div class="alert alert-success alert-dismissible">
									<i class="fa fa-check-circle"></i>
									{{ success }}</div>
							{% endif %}
							{% if error_warning %}
								<div class="alert alert-primary alert-dismissible">
									<i class="fa fa-exclamation-circle"></i>
									{{ error_warning }}</div>
							{% endif %}
							<form class="login-form notional7" action="{{ action }}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<input type="text" name="email" required class="input-text input-large full-width" placeholder="{{ entry_email }}">
								</div>


								<div class="form-group">
									<input type="password" required name="password" class="input-text input-large full-width" placeholder="{{ entry_password }}">
								</div>


								<a class="notional1" href="{{ forgotton }}">
									Forgot your password?
								</a>
								<button type="submit" class="btn-large full-width yellow">
									Sign In</button>

							</form>
							<p class="notional2">
								Don't have an account?
								<a href="{{ register }}" class="notional5">
									Create Account.
								</a>
							</p>


						</div>
					</div>
				</div>
			</section>

		</div>
	</div>

	{{ footer }}
</body>
